.tasklist-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2em 0;
}

.task{
    width: 100%;
    padding: 0.5rem;
    height: 2.5rem;
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    background-color: #084a28;
    border-radius: 0.5em;
}